* {
  font-family: "Open Sans", helvetica, arial, sans-serif;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
  --primary: #f8f8f8;
  --secondary: #dbe1e8;
  --text-main: #0d0106;
  --text-secondary: #454e56;
  --accent: #009ffd;
}.theme-dark {
  --primary: #12181b;
  --secondary: #2a2e35;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --accent: #fc7753;
}

.standard-btn {
  @apply border p-1 border-gray-400 rounded;
}

.standard-btn-gray {
  @apply standard-btn bg-gray-200
}